node-red/BLEData-Flow
[{"id":"bba07753.e8a308","type":"websocket in","z":"35fbc8b4.903f18","name":"/ws/bledata","server":"6b36a6bd.02d948","client":"","x":1104,"y":122,"wires":[["aede2e78.70c04"]]},{"id":"1d4f0742.a25779","type":"redis-in","z":"35fbc8b4.903f18","server":"188164df.59b95b","command":"psubscribe","name":"blejsonredis-sub","topic":"blejsonredis","timeout":0,"x":1094,"y":249,"wires":[["e4416ca3.e3a5"]]},{"id":"be33e48a.89ee28","type":"http in","z":"35fbc8b4.903f18","name":"http in","url":"/api/bledata","method":"get","swaggerDoc":"","x":1171,"y":377,"wires":[["e4416ca3.e3a5"]]},{"id":"ff2bbecb.0d266","type":"http response","z":"35fbc8b4.903f18","name":"http response","x":1641,"y":377,"wires":[]},{"id":"e4416ca3.e3a5","type":"function","z":"35fbc8b4.903f18","name":"BLE data Fn","func":"if (msg.topic == \"blejsonredis\") {\n    var json_result = JSON.parse(msg.payload);\n    context.v = json_result;\n    msg.payload = context.v;\n    return [msg,null];\n} else {\n    msg.payload = context.v;\n    return [null,msg];\n}","outputs":"2","noerr":0,"x":1367,"y":337,"wires":[["a9ea408c.fda57"],["ff2bbecb.0d266"]]},{"id":"a9ea408c.fda57","type":"debug","z":"35fbc8b4.903f18","name":"Debug","active":false,"console":"false","complete":"payload","x":1625,"y":272,"wires":[]},{"id":"aede2e78.70c04","type":"redis-out","z":"35fbc8b4.903f18","server":"188164df.59b95b","command":"publish","name":"blejsonredis-pub","topic":"blejsonredis","x":1373,"y":168,"wires":[]},{"id":"6b36a6bd.02d948","type":"websocket-listener","z":"","path":"/ws/bledata","wholemsg":"false"},{"id":"188164df.59b95b","type":"redis-config","z":"","host":"192.168.188.226","port":"32768","dbase":"0","pass":""}]
